.about {
  &__title {
    margin: 0 0 8rem;

    @media (max-width: $mobile) {
      margin: 0 0 4rem;
    }
  }
  &__box-title {
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 1.01;
    color: $white;
    margin: 0 0 2.2rem;

    .about__box--red & {
      margin: 0 0 2.4rem;
    }

    @media (max-width: $tablet) {
      font-size: 3.5rem;
    }

    @media (max-width: $mobile) {
      margin: 0 0 4.2rem;
    }
  }

  &__box {
    position: relative;
    background-color: $darkRed;
    overflow: hidden;
    border-radius: 19px;
    padding: 2.8rem 3rem 3.7rem 3.2rem;
    background-image: url('../img/about/darkBg.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;

    &:not(:last-child) {
      margin: 0 0 4.6rem;
    }

    &--red {
      background-color: $red;
      background-image: url('../img/about/redBg.jpg');
      background-position: 295% -6%;
      padding: 2.8rem 3rem 5.8rem 3.2rem;

      @media (max-width: $tablet) {
        background-position: 16rem 0;
      }
    }

    @media (max-width: $tablet) {
      padding: 2.4rem 1.6rem 30rem;
      &--red {
        padding: 2.4rem 1.6rem;
      }
    }

  }

  &__decor {
    position: absolute;
    bottom: 0;
    right: 0;
    user-select: none;
    pointer-events: none;

    .about__box--red & {
      bottom: auto;
      top: 2.5rem;
    }

    @media (max-width: $laptop) {
      width: 29rem;

      .about__box--red & {
        width: 50rem;
      }
    }

    @media (max-width: $tablet) {
      .about__box--red & {
        width: 37rem;
        top: 36.5rem;
      }
    }

    @media (max-width: $mobile) {
      .about__box--red & {
        display: none;
      }
    }
  }

  &__bullits {
    display: flex;
    gap: 3.9rem;
    margin: 0 0 4.5rem;

    .about__box--red & {
      gap: 6rem;
    }

    @media (max-width: $mobile) {
      margin: 0px 0 1.5rem;
      gap: 1rem;
      .about__box--red & {
        gap: 1rem;
      }
    }
  }

  &__bullit {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    font-size: 3rem;
    font-family: $mossport;
    text-transform: uppercase;

    @media (max-width: $mobile) {
      font-size: 2rem;
      gap: 1rem;

      svg {
        width: 3rem;
        height: 3rem;

      }
    }
  }

  &__items {
    display: flex;
    gap: 1rem;

    &--wrap {
      flex-wrap: wrap;
      max-width: 50rem;
      margin: 0 0 6rem;
    }

    @media (max-width: $tablet) {
      flex-wrap: wrap;
      width: 75rem;

      &--wrap {
        z-index: 5;
        position: relative;
      }
    }

    @media (max-width: $mobile) {
      width: 100%;
      // flex-wrap: nowrap;
      // flex-direction: column;
    }
  }

  &__item {
    background-color: $white;
    border-radius: 5px;
    padding: 1.3rem 1.5rem 1.5rem 2rem;
    color: $grey;
    width: 24.4rem;

    @media (max-width: $mobile) {
      width: 100%;
      max-width: 45rem;
    }
  }

  &__item-title {
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0 0 1rem;
    line-height: 1;
    color: $red;
  }

  &__item-text {
    font-size: 1.4rem;
    line-height: normal;
    margin: 0;

    p {
      margin: 0 0 1.5rem;
    }

    ul {
      padding-left: 2rem;
      margin: 0;
    }
  }

    &__bottom {
      display: grid;
      grid-template-columns: 35.4rem 71rem;
      gap: 3.9rem;

      @media (max-width: $laptop) {
        grid-template-columns: 35.4rem 60rem;
      }

      @media (max-width: $tablet) {
        display: flex;
        flex-direction: column;
      }

    }


  &__stars {
    width: 35.4rem;
    flex-shrink: 0;
  }

  &__stars-title {
    font-family: $mossport;
    font-size: 3rem;
    line-height: 1.01;
    text-transform: uppercase;
    margin: 0 0 2.6rem;
  }

  &__stars-text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
    p:not(:last-child) {
      margin: 0 0 2.4rem;
    }
  }

  &__slider {
    position: relative;
    padding: 0 7.5rem;
    margin-top: 5.5rem;

    @media (max-width: $tablet) {
      margin-top: -0.5rem;
    }

    @media (max-width: $mobile) {
      padding: 0 4rem;
    }
  }

  &__slide {
    width: 16rem;
  }

  &__slide-image {
    overflow: hidden;
    border-radius: 10px;
    margin: 0 0 2.1rem;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__slide-content {
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }

  &__slide-title {
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 1.01;
    margin: 0;
    text-align: center;
  }

  &__slide-text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    p {
      margin: 0;
    }
  }

  &__arrow {
    position: absolute;
    top: 6.2rem;
    left: 0;

    &--next {
      left: auto;
      right: 0;
    }

    @media (max-width: $mobile) {
      top: 10rem;
      left: -0.5rem;

      &--next {
        left: auto;
        right: -0.5rem;
    }
    }
  }
}
