.actions {
  &__title {
    margin: 0 0 2.8rem;

    @media(max-width: $mobile) {
      margin: 0 0 1rem;
    }
  }

  &__subtitle {
    color: $darkRed;
    font-size: 5rem;
    font-family: $mossport;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 10rem;

    @media(max-width: $mobile) {
      margin: 0 0 4rem;
      line-height: 1;
    }
  }

  &__decor {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 4;
    user-select: none;
    pointer-events: none;

    @media (max-width: $laptop) {
      width: 32rem;
    }

    &--top {
      bottom: auto;
      top: 1.5rem;
      right: 2.4rem;

      @media (max-width: $laptop) {
        width: 22rem;
      }

      @media (max-width: $mobile) {
        top: auto;
        bottom: 0;
      }
    }

    &--rest {
      @media (max-width: $laptop) {
        width: 100%;
      }

      @media (max-width: $mobile) {
        width: 159%;
        max-width: 60rem;
        right: -4rem;
      }
    }

    .actions__box--people & {
      @media (max-width: $mobile) {
          display: none;
        }
      }
  }

  &__box {
    position: relative;
    background-color: $darkRed;
    overflow: hidden;
    border-radius: 19px;
    padding: 2.8rem 3rem 5.2rem 3.2rem;
    background-image: url('../img/actions/sceneBg.png');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 76%;

    &:not(:last-child) {
      margin: 0 0 6.5rem;
    }

    &--people {
      background-image: url('../img/actions/bg2.png');
      background-size: 67%;
      padding: 2.8rem 3rem 6rem  3.2rem;
    }

    &--rest {
      padding: 2.8rem 3rem 26rem  3.2rem;
      background-position: 110% 0%;
    }

    @media (max-width: $laptop) {
      background-size: cover;
    }

    @media (max-width: $mobile) {
      padding: 2.2rem 2.2rem 20.4rem;
      background-image: url('../img/hero/bg.png');
      background-size: 160%;
      background-position: 100% 100%;

      &--downhill {
        padding-bottom: 10rem;
      }

      &--people {
        padding-bottom: 10rem;
      }
    }
  }

  &__box-title {
    font-size: 5rem;
    line-height: 1;
    font-family: $mossport;
    text-transform: uppercase;
    color: $white;
    margin: 0 0 8rem;

    .actions__box--rest & {
      margin: 0 0 4.5rem;
    }

    @media (max-width: $mobile) {
      font-size: 4rem;
      margin: 0 0 4rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5.2rem;

    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  &__box-description {
    font-size: 2rem;
    max-width: 48.2rem;
    font-weight: 500;
    line-height: 1.2;
  }

  &__row {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin: 0;
    padding: 3rem 0;

    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $white;
        z-index: 2;
      }
    }

    &:first-child {
      padding-top: 0;
    }

    @media (max-width: $tablet) {
      padding: 2.4rem 0;
      &.with-button {
        position: relative;
        padding: 3rem 0 7.5rem;
      }
    }

    @media (max-width: $mobile) {
      padding: 1.8rem 0;
      gap: 1.1rem;

      &.with-button {
        padding: 1.8rem 0 6.2rem
      }
    }
  }
  &__time {
    position: relative;
    font-family: $mossport;
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    padding: .4rem 1.7rem;
    border: 1px solid $white;
    color: $white;
    border-radius: 30px;
    z-index: 4;
    flex-shrink: 0;

    @media (max-width: $mobile) {
      font-size: 1.8rem;
      padding: .1rem 1.5rem
    }
  }

  &__avatar {
    overflow: hidden;
    width: 8.2rem;
    height: 8.2rem;
    border-radius: 5px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: $mobile) {
      width: 5.4rem;
      height: 5.4rem;
    }

  }

  &__column {
    position: relative;
    @media (max-width: $tablet) {
      &:last-child {
        &:after {
          content: '';
          position: absolute;
          top: -2.4rem;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $white;
          z-index: 2;
        }

      }
    }
  }

  &__content-title {
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1;
    margin-top: 0.3rem;

    @media (max-width: $mobile) {
      font-size: 1.8rem;
    }


    &:not(:last-child) {
      margin: 0 0 1.5rem;

      @media (max-width: $mobile) {
        margin: 0;
      }
    }
  }

  &__content-description {
    font-size: 1.8rem;
    font-family: $monserrat;
    line-height: 1.1;

    @media (max-width: $mobile) {
      font-size: 1.4rem;
    }

    &:not(:last-child) {
      margin: 0 0 1.6rem;
    }

  }

  &__slider {
    position: relative;
    padding: 0 7rem;
    margin-top: 5.5rem;
    width: 70rem;

    @media (max-width: $tablet) {
      width: 100%;
    }

    @media (max-width: $mobile) {
      padding: 0 4rem;
    }
  }

  &__slide {
    width: 16rem;
  }

  &__slide-image {
    overflow: hidden;
    border-radius: 10px;
    margin: 0 0 2.1rem;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__slide-title {
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.01;
    margin: 0;
    text-align: center;
  }

  &__slide-text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    p {
      margin: 0;
    }
  }

  &__arrow {
    position: absolute;
    top: 6.2rem;
    left: 0;

    &--next {
      left: auto;
      right: 0;
    }

    @media (max-width: $mobile) {
      left: -1rem;

      &--next {
        left: auto;
        right: -1rem;
      }
    }
  }
}
