.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 60;
  padding: 3.5rem 0 0;

  @media (max-width: $tablet) {
    padding: 2.4rem 0 0;
  }

  @media (max-width: $mobile) {
    padding-bottom: 2.2rem;
  }



  .container {
    max-width: 116rem;
  }

  &__nav {
    position: relative;
    flex-shrink: 0;
    z-index: 2;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $red;
    gap: 2rem;
    width: 100%;
    padding: 2.6rem 2.8rem 2.8rem 2.4rem;
    border-radius: 19px;

    @media (max-width: $tablet) {
      padding-right: 6.5rem;
    }
  }

  &__link {
    background-color: $white;
    color: $red;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    height: 3rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: $darkRed;
      color: $white;
    }
  }



}
