.hero {

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 1;

    @media (max-width: $tablet) {
      align-items: flex-start;
    }
  }

  &__box {
    position: relative;
    display: flex;
    align-items: stretch;
    background-color: $darkRed;
    overflow: hidden;
    border-radius: 19px;
    padding: 4.5rem 5.9rem 7.3rem 6.2rem;
    background-image: url('../img/hero/bg.png');
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      gap: 3rem;
      padding: 2.4rem 3.2rem 6rem;
    }

    @media (max-width: $mobile) {
      padding: 2.4rem 1.6rem 26rem;
    }
  }

  &__title {
    font-size: 15rem;
    font-family: $mossport;
    text-transform: uppercase;
    line-height: 0.9;
    margin: 0 0 0 -0.3rem;

    @media (max-width: $laptop) {
      font-size: 12rem;
    }

    @media (max-width: $mobile) {
      font-size: 8rem;
    }
  }

  &__subtitle {
    max-width: 35.5rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
    font-family: $monserrat;
    margin: 1.1rem 0 0;

    @media (max-width: $mobile) {
      font-size: 1.4rem;
    }
  }


  &__title-box {
    display: flex;
    gap: 1.6rem;
  }

  &__bullit {
    max-width: 24rem;
    svg {
      @media (max-width: $mobile) {
        width: 3.2rem;
        height: auto;
      }
    }
  }

  &__label {
    display: inline-flex;
    align-items: center;
    background-color: $red;
    padding: 0.5rem 2.3rem;
    height: 3.5rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2rem;
    border-radius: 20px;
    margin: 1.3rem 0 5rem;
    font-family: $monserrat;

    @media (max-width: $mobile) {
      margin: 3.3rem 0 4rem;
    }
  }

  &__bullits {
    display: flex;
    gap: 2.5rem;
    margin: 0 0 9.1rem;

    @media (max-width: $mobile) {
      margin: 0 0 4.1rem;
    }
  }

  &__bullit-title {
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 1rem 0 1rem;
    line-height: 1;

    @media (max-width: $tablet) {
      font-size: 2.6rem;
    }
  }

  &__bullit-text {
    font-size: 2rem;
    font-weight: 500;
    font-family: $monserrat;

    @media (max-width: $tablet) {
      font-size: 1.7rem;
    }
  }

  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    background-color: $white;
    padding: 0.5rem 2.1rem;
    height: 4.5rem;
    color: $red;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
    font-family: $monserrat;
    z-index: 3;

    &:hover {
      background-color: $red;
      color: $white;
    }

    @media (max-width: $tablet) {
      &--mossport {
        position: absolute;
        bottom: 6rem;
        right: 2rem;
      }
    }

    @media (max-width: $mobile) {
      display: none;

      &--mossport {
        display: flex;
      }
    }
  }

  &__decor {
    position: absolute;
    bottom: 0;
    right: 0;
    user-select: none;
    pointer-events: none;
    z-index: 1;

    @media (max-width: $laptop) {
      width: 67rem;
    }

    @media (max-width: $tablet) {
      width: 45rem;
    }

    @media (max-width: $mobile) {
      width: 34rem;
    }

  }

  &__logos {
    margin-top: 1.2rem;
    width: auto !important;
    gap: 3.2rem !important;

    @media (max-width: $mobile) {
      gap: 1.2rem !important;
    }
  }
}
