.map {
  position: relative;
  padding: 13.6rem 0 17.7rem;
  overflow: hidden;

  @media (max-width: $tablet) {
    padding: 8.5rem 0 8.8rem;
  }

  @media (max-width: $mobile) {
    padding: 8rem 0 9rem;

    .container {
      padding: 0;
    }
  }

  svg,button {
    -webkit-tap-highlight-color: transparent;
  }

  .container {
    position: relative;
  }

  &__tabs {
    display: flex;
    gap: 1.8rem;
    margin: 0 0 3.1rem;
  }

  &__tab {
    background-color: $white;
    color: $red;
    border: 2px solid $darkRed;
    border-radius: 30px;
    font-family: $mossport;
    font-size: 5rem;
    line-height: 0.9;
    padding: 0.5rem 2.4rem;
    text-transform: uppercase;
    height: 6rem;

    &.is-active {
      background-color: $darkRed;
      color: $white;
    }


  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 0 0 6.3rem;
    text-align: center;

    @media (max-width: $mobile) {
      padding: 0 1.6rem;
      margin: 0 0 3.4rem;
    }
  }

  &__map {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
  }

  &__decor {
    position: absolute;
    bottom: -2.6rem;
    left: 51.4%;
    transform: translateX(-50%);
  }

  &__map-content {
    display: none;
    gap: 4.3rem;
    position: relative;

    &.is-active {
      display: flex;
    }

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }

    @media (max-width: $mobile) {
      margin-top: -3.5rem;
    }
  }

  &__map-wrapper {
    @media (max-width: $mobile) {
      overflow-x: auto;
      padding-top: 4.3rem;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
        display: none;
      }
    }

  }

  &__under {
    user-select: none;
    img {
      width: 100%;
      object-fit: contain;
    }

  }

  &__scheme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
      g {
        position: relative;
        cursor: pointer;
        z-index: 2;

        &.is-active {
          z-index: 5;
          rect,
          .rect,
          circle {
            fill: $darkRed;
            stroke: $white;
          }

          path {
            fill: $white;
          }
        }
      }

      .content {
        display: none;

        &.content-active {
          display: block;
        }
      }
  }

  &__decor-mobile {
    display: none;

    @media (max-width: $mobile) {
      position: absolute;
      top: -7rem;
      left: -6.7rem;
      display: block;
    }
  }


  &__list {
    z-index: 59;
    list-style: none;
    margin: 0;
    height: 100%;
    width: 46rem;
    padding: 0;
    margin-top: -2rem;

    @media (max-width: $tablet) {
      position: relative;
      width: 100%;
      height: auto;
      padding: 7.5rem 0 0;
    }

    @media (max-width: $mobile) {
      height: auto;
      column-count: auto;
      padding: 3.4rem 1.6rem 0;
      max-height: initial;
    }
  }

  &__mobile-arrows {
    display: none;

    @media (max-width: $mobile) {
      display: block;
      margin: 3rem auto 0;
    }

  }

  &__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.7rem 0 1.3rem;
    font-size: 3rem;
    line-height: 1;
    font-family: $mossport;
    text-transform: uppercase;
    margin: 0;
    cursor: pointer;
    color: $red;

    &:not(:last-child) {
      border-bottom: 1px solid $grey;
    }

    &:hover,
    &.is-active {
      &:after {
        content: '';
        position: absolute;
        bottom: 0.9rem;
        left: -0.8rem;
        width: calc(100% + 1.9rem);
        height: calc(100% - 1.7rem);
        border-radius: 5px;
        background-color: $red;
        z-index: -1;
      }

      color: $white;
      time {
        color: $white;
      }
    }

    time {
      font-family: $monserrat;
      text-transform: none;
      color: $grey;
      font-size: 1.6rem;
      font-weight: 500;
      margin: 0.6rem 0 0.4rem 6rem;

      @media (max-width: $mobile) {
        font-size: 1.4rem;
        top: 2.2rem;
        right: 1.9rem;
      }
    }

    p {
      margin: 0;
      position: relative;
      display: flex;
      gap: 4rem;
      max-width: 80%;

      span {
        display: inline-block;
        width: 2rem;
      }
    }


    a {
      display: inline-flex;
      align-items: center;
      color: $white;
      gap: 0.9rem;
      font-family: $monserrat;
      font-size: 2.2rem;
      line-height: 1.1;
      font-weight: 500;
      text-decoration: none;
      text-transform: capitalize;
      background-color: $green;
      border-radius: 20px;
      padding: 0.8rem 1.9rem;
      margin-top: 1.8rem;

      &:after {
        content: '';
        width: 1.3rem;
        height: 1.3rem;
        background-size: cover;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><path d="M0.707092 14L13.7071 1M13.7071 1L0.707092 1M13.7071 1L13.7071 14" stroke="white" stroke-width="2"/></svg>');
      }

      @media (max-width: $tablet) {
        margin-top: 1rem;
        font-size: 1.7rem;
      }

      @media (max-width: $mobile) {
        font-size: 1.4rem;
        line-height: 1.01;
        width: 100%;
        justify-content: center;
        margin-top: 2.1rem;
      }
    }

    @media (max-width: $tablet) {
      font-size: 2.4rem;
      line-height: 3rem;
      height: auto;
      margin: 0 0 0.9rem;
      line-height: 1.01;

      span {
        font-size: 2.4rem;
      }
    }

    @media (max-width: $mobile) {
      border-radius: 12px;
      padding: 1.2rem 1.6rem 1.6rem 1.6rem;
      font-size: 2.1rem;
      min-height: 10.4rem;

      span {
        font-size: 2.1rem;
      }
    }

  }

  &__route {
    display: inline-flex;
    align-items: center;
    color: $red;
    border: 1px solid $red;
    border-radius: 30px;
    gap: 0.9rem;
    padding: 0.6rem 1.9rem;
    font-size: 2.2rem;
    line-height: 1.1;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    margin: 0 0 7.8rem;

    @media (max-width: $tablet) {
      font-size: 1.5rem;
    }

    @media (max-width: $mobile) {
      justify-content: center;
      font-size: 1.4rem;
      width: 100%;
      text-align: center;
      margin: 0 0 2.6rem;
    }

    &:hover {
      color: white;
      background-color: $red;
    }
  }

  &__text {
    color: $grey;
    font-size: 2.2rem;
    line-height: 1.1;
    font-weight: 500;
    max-width: 79.6rem;

    @media (max-width: $tablet) {
      font-size: 1.8rem;
      max-width: 60rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
    }
  }

    &__modal {
    position: absolute;
    top: 29rem;
    left: 36rem;
    z-index: 115;
    width: 37.2rem;
    background-color: $green;
    color: $white;
    border-radius: 43px;
    padding: 3.4rem 3.4rem 3.1rem 3.6rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: $tablet) {
      width: 33.5rem;
      padding: 2.5rem 2.4rem;
      top: 7.7rem;
      left: 4.5rem;
      border-radius: 30px;
    }

    @media (max-width: $mobile) {
      width: calc(100% - 3.2rem);
      //padding: 3.6rem;
      top: 26.7rem;
      left: 1.6rem;
    }

  }

  &__modal-title {
    font-size: 3.6rem;
    line-height: 1;
    text-transform: uppercase;
    font-family: $mossport;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 0 0 2rem;
    max-width: 85%;

    @media (max-width: $tablet) {
      font-size: 2.4rem;
    }

    @media (max-width: $mobile) {
      margin: 0 0 1.6rem;
    }
  }

  &__modal-close {
    position: absolute;
    top: 2.7rem;
    right: 1.8rem;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: $white;

    @media (max-width: $tablet) {
      top: 1.8rem;
      right: 1.8rem;
      width: 3rem;
      height: 3rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__modal-goto {
    cursor: pointer;

    &.is-hidden {
      display: none;
    }

    @media (max-width: $tablet) {
      font-size: 2.4rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
    }
  }
}
