.nav {
  display: flex;

  &--mobile {
    display: none;
  }

  @media (max-width: $tablet) {
    padding: 0;
    display: none;

    &--mobile {
      display: flex;
    }
  }

  &__decor {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;

    @media (max-width: $mobile) {
      position: relative;
    }
  }

  &__mobile-toggler {
    position: fixed;
    background: none;
    border: none;
    top: 2.4rem;
    right: 1.6rem;
    z-index: 70;
    padding: 0;
  }

  &__wrapper {
    background-image: url('../img/hero/bg.png');
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;

    @media (max-width: $tablet) {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $darkRed;
      z-index: 72;
      padding: 5.5rem 4.3rem 2.7rem 1.6rem;

      .nav.is-active & {
        display: flex;

      }
    }
  }

  &__texture {
    position: absolute;
    bottom: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    height: 27rem;
    width: 100%;
    background-image: url(../img/texture2.png);
    background-repeat: repeat;
    background-position: 0 38.7rem;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    background-size: 38.2rem;
    z-index: 3;
  }
  &__list {
    position: relative;
    display: flex;
    list-style: none;
    gap: 2.5rem;
    margin: 0;
    z-index: 5;
    padding: 0;

    @media (max-width: $laptop) {
      gap: 2rem
    }

    @media (max-width: $tablet) {
      padding: 0;
      margin: 0;
      flex-direction: column;
      gap: 2.45rem;
      background: none;
    }
  }

  &__close {
    position: absolute;
    top: 2.6rem;
    right: 1.7rem;
    background: none;
    border: none;
    width: 4.1rem;
    height: 4.1rem;
    padding: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
    transition: 0.2s color ease-in;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: normal;

    @media (max-width: $laptop) {
      font-size: 1.5rem;
    }

    @media (max-width: $tablet) {
      font-family: $monserrat;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1;
      color: $white;


    }
  }

}
